body {
    background: url(recipe.jpg);
    background-size: 25%;
}

#nav {
    margin-top: 50px;
    padding-top: 20px;
    padding-left: 30px;
    font-size: 20px;
    background: #365e45;
    width: 390px;
    height: 500px;
    margin: auto;
    border-radius: 10px;
    opacity: 2;
    text-align: center;
}

#nav div {
    font-family: Courier New, Courier, monospace;
    font-size: 25px;
    text-align: center;
}

#nav input {
    margin-top: 30px;
    margin-right: 50px;
    width: 320px;
    height: 40px;
    font-size: 20px;
    border-radius: 5px;
    font-style: italic;
}

#in1 {
    padding-left: 80px;
    font-style: italic;
    color: white;
}

#in1 input {
    font-style: italic;
}

.btn:hover {
    background: white;
    color: blue;
}

.btn {
    margin-top: 20px;
    margin-right: 20px;
    padding: 14px 25px;
    border-radius: 12px;
    font-size: 16px;
    float: center;
    cursor: pointer;
}