<!DOCTYPE html>
<html>
    <head>
        <title>INGREDIENTS</title>
        <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    </head>
    <body>
        <fieldset>
            <legend>Ingredients:</legend>
            <h1>ADD INGREDIENTS</h1>
            <input type="text" placeholder="New item" />
            <button id="add">Add</button>
            <ol id="mylist"></ol>
        </fieldset>
    </body>
    <script type="text/javascript">
    $(function() {
    $("#add").on("click", function() {
        var val = $("input").val();
        if(val !== '') {
            var elem = $("<li></li>").text(val);
            $(elem).append("<button class='rem'>X</button>");
            $("#mylist").append(elem);
            $("input").val("");
            $(".rem").on("click", function() {
                $(this).parent().remove();
            });
        }
    });
});
</script>
</html>