<!Doctype html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="./css/style1.css" />
</head>

<body>
    <button class="btn btn-primary" type="submit" href="#">Edit</button>
    <div class="info">
        <h1><b>Stew Recipe</b></h1>
        <h3>Ingredients</h3>
    </div>
    <table border=2px text-align='center' cellspacing=5px cellpadding=10px>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
        </tr>
        <tr>
            <td>Fresh Tomato</td>
            <td>800 mls</td>
        </tr>
        <tr>

            <td>Mackerel (a.k.a. Titus in Nigeria)</td>
            <td>1 big size</td>
        </tr>
        <tr>
            <td>Thyme(cow tripe)</td>
            <td>2 teaspoons</td>
        </tr>
        <tr>
            <td>Onions</td>
            <td>2 medium Size</td>
        </tr>
        <tr>
            <td>Stock cube</td>
            <td>1 big size </td>
        </tr>
        <tr>
            <td>Habanero pepper (Atarodo, Ose Oyibo, Atarugu) </td>
            <td>1</td>
        </tr>
        <tr>
            <td>Salt</td>
            <td>To Taste</td>
    </table>

</body>

</html>